.SellerView {
    width: 100vw;
    height: auto;
    align-items: center;
    padding-top: 55px;
}

body {
    margin: 0;
    padding: 0;
}
.item {
    align-items: center;
}
.item-name {
 
    margin-top: 100px;
    border: 2px solid 
}